@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

// Primary
$light_red: hsl(0, 100%, 67%);
$orange_yellow: hsl(39, 100%, 56%);
$green_teal: hsl(166, 100%, 37%);
$cobalt_blue: hsl(234, 85%, 45%);

// Gradients
$light_slate_blue: hsl(252, 100%, 67%);
$light_royal_blue: hsl(241, 81%, 54%);
$violet_blue: hsla(256, 72%, 46%, 1);
$persian_blue: hsla(241, 72%, 46%, 0);

// Neutral
$white: hsl(0, 0%, 100%);
$pale_blue: hsl(221, 100%, 96%);
$light_lavender: hsl(241, 100%, 89%);
$dark_gray_blue: hsl(224, 30%, 27%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Hanken Grotesk', sans-serif;

    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        min-height: 60vh;
        display: flex;
        justify-content: center;
        border-radius: 3.5vh;
        overflow: hidden;
        box-shadow: 1rem 1rem 1.5rem $pale_blue;

        .results {
            width: 50%;
            background-color: $cobalt_blue;
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            border-radius: 3.5vh;
            padding: 5% 8% 6%;

            h3, p {
                font-weight: 500;
                opacity: 0.8;
            }

            .circle {
                background: $violet_blue;
                background: linear-gradient($violet_blue 35%, $persian_blue);
                width: 70%;
                aspect-ratio: 1 / 1;
                border-radius: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span:first-child {
                    font-size: 4.4vw;
                    line-height: 4.4vw;
                }

                span:nth-child(2) {
                    font-size: 1.2vw;
                    opacity: 0.5;
                }
            }
        }
        
        .summary {
            width: 50%;
        }
    }

    @media (min-width: 1024px) {
        .results {
            h3 {
                font-size: 1.3rem;
            }

            h2 {
                font-size: 1.6rem;
            }
            
            p {
                font-size: 1rem;
            }
        }
    }

    @media (min-width: 1440px) {
        .results {
            h3 {
                font-size: 1.6rem;
            }

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    @media (min-width: 2560px) {
        .results {
            h3 {
                font-size: 2.5rem;
            }

            h2 {
                font-size: 3.2rem;
            }

            p {
                font-size: 2rem;
            }
        }
    }
}